@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --bg-color-body: #fafafa;
  --bg-color-second: #e7ebf1;
  --color-accent: #ba758d;
  --color-header: #113257;
  --btn-color-primary: #ba758d;
  --btn-color-hover: #6b6767; 
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color-body);
}

button,
.button {
  font: inherit;
  font-weight: bold;
  padding: 0.5em;
  border: unset;
  border-radius: 0.3rem;
  cursor: pointer;
}
button.disabled,
.button.disabled {
  filter: saturate(0.1);
}

button.primary-button,
.button.primary-button {
  color: white;
  background-color: var(--btn-color-primary);
}
button.primary-button:hover,
.button.primary-button:hover {
  filter: brightness(0.95);
}

button.secondary-button,
.button.secondary-button {
  color: var(--color-accent);
  background: transparent;
}
button.secondary-button:hover,
.button.secondary-button:hover {
  text-decoration: underline;
}

section{
  padding: 6rem 10vw;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent);
}
