textarea{
    background-color: #cde6e6;
    width: 100%;
    height: 2.25rem;
    padding: 0.25rem;
    font-family: Poppins;
    font-size: 0.85rem;
    border-radius: 5px;
    border-color: #cde6e6;
    color: #92938e;
}