.grid-parent section{
  padding: 7rem 1rem;
}
.main-content, .sidebar {
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(232, 171, 171) 50%, rgba(246,243,248,1) 100%);
}

.grid-parent {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  gap: 20px;

  @media (min-width: 56.25em){
    grid-template-columns: 1fr 300px;
  }
}

.userprofile-heading{
  font-size: 24px;
  color: #7a73ab;
  margin-bottom: 0.5rem;
  font-weight: 1000;
}

.feed-heading{
  text-align: right;
}